.client {
  padding-top: 60px;
  padding-bottom: 60px;
  &--blue {
    background-color: $secondaryColor;
  }
  &--grey {
    background-color: #f2f7fd;
  }
  &__content {
    display: flex;
    gap: 50px;
    @media (max-width: $breakpoint850) {
      display: block;
    }
  }
  &__description {
    flex: 0 1 578px;
  }
  &__image {
    flex: 0 1 48%;
    @media (max-width: $breakpoint850) {
      text-align: center;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $mainColor;
    margin-top: 15px;
    margin-bottom: 15px;
    @media (max-width: $breakpoint850) {
      font-size: calc(16px - 20%);
      line-height: calc(24px - 20%);
    }
  }
  &__item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 36px;
    @media (max-width: $breakpoint850) {
      font-size: calc(16px - 20%);
      line-height: calc(24px - 20%);
    }
    span{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__subtitle {
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    @media (max-width: $breakpoint480) {
      font-size: 14px;
    line-height: calc(28px - 90%);
    }
  }
}
